<section class="intro">

  <div class="bg-image h-100" style="background-color: #6095F0;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="" [ngClass]="error.length>0 ? 'alert alert-danger hidden' : ''" role="alert">
          <div *ngFor="let item of error">
            <h3>
              {{item['field']}} {{item['message']}}
            </h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
              <div class="card-body">
                <div class="table-responsive">
                  <div class="search">
                    <input class="form-control md-4" type="text" [(ngModel)]="search" style="width:700px"
                      placeholder="Search" name="search" id="search">
                    <button class="btn btn-primary" (click)="open(content)">Create User</button>
                  </div>
                  <table class="table table-borderless mb-0">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Email</th>
                        <th scope="col">Status</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of allData | lockFilter: search;let i =index">
                        <th scope="col">
                          <div class="form-check">
                            <i class="form-check-input fa fa-pencil-square-o" (click)="updateUser(i);open(content)"
                              aria-hidden="true"></i>
                          </div>
                        </th>
                        <td>{{item.id}}</td>
                        <td class="pera" [title]="item.name">
                          <p>{{item.name}}</p>
                        </td>
                        <td [title]="item.gender">{{item.gender}}</td>
                        <td class="pera" [title]="item.email">
                          <p>{{item.email}}</p>
                        </td>
                        <td [title]="item.status">
                          <p class="badge" [ngClass]="item.status=='inactive'? 'sec' : 'pri'">{{item.status}}</p>
                        </td>
                        <td>
                          <button type="button" (click)="deleteMe(item.id)" class="btn btn-danger btn-sm px-3">
                            <i class="fa fa-times"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #content let-modal class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Geeks of Geeks
    </h4>
    <button type="button" class="close btn btn-outline-dark" aria-label="Close" (click)="modal.dismiss('Cross click')">

      <span aria-hidden="true">
        ×
      </span>
    </button>
  </div>
  <div class="modal-body">
    <form #myForm="ngForm">
      <div class="form-group">
        <label for="exampleInputName1">Full-name</label>
        <input type="text" class="form-control" name="name" #fullName="ngModel" required [(ngModel)]="user.name"
          id="exampleInputName1" aria-describedby="NameHelp" placeholder="Enter Name">
        <!-- <small id="NameHelp" class="form-text text-muted">We'll never share your Name with anyone else.</small> -->
        <span class="text-danger" *ngIf="(fullName.touched || myForm.submitted) && fullName.errors?.['required']">
          Name is required
        </span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="user.email" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="Enter email" #email="ngModel" required email>
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        <span class="text-danger" *ngIf="(email.touched || myForm.submitted) && email.errors?.['required']">
          Email is required
        </span>
        <span class="text-danger" *ngIf="email.touched && email.errors?.['email']">
          Enter a valid email address
        </span>
      </div>
      <div class="form-group">
        <label for="exampleInputGender1">Gender</label><br>
        <div class="form-check" style="margin-right:5px">
          <input class="form-check-input" type="radio" name="gender" [(ngModel)]="user.gender" name="gender"
            id="MaleRadio" value="male" checked>
          <label class="form-check-label" for="MaleRadio">
            Male
          </label>
        </div>
        <div class="form-check" style="margin-right:5px">
          <input class="form-check-input" type="radio" name="gender" name="gender" [(ngModel)]="user.gender"
            id="FemaleRadio" value="female">
          <label class="form-check-label" for="FemaleRadio">
            Female
          </label>
        </div>
        <div class="form-check" style="margin-right:5px">
          <input class="form-check-input" type="radio" name="gender" name="gender" [(ngModel)]="user.gender"
            id="OtherRadio" value="other">
          <label class="form-check-label" for="OtherRadio">
            Other
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputStatus1">Status</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="status" [(ngModel)]="user.status" name="exampleRadios"
            id="exampleRadios1" value="active" checked>
          <label class="form-check-label" for="exampleRadios1">
            Active
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" name="status" [(ngModel)]="user.status"
            id="exampleRadios2" value="Inactive">
          <label class="form-check-label" for="exampleRadios2">
            In-Active
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="JoinAndClose(modal);clearForm(user)">
      {{isEdit?'Update':'Save'}}
    </button>
  </div>
</ng-template>