/* p {
    width: 250px;
    border: 1px solid;
    padding: 2px 5px;
  
    Both of the following are required for text-overflow
    white-space: nowrap;
    overflow: hidden;
  }
   */
  td.pera{
    display: flex;
  }

  .sec{
    background-color: #6c757d;
    font-size: large;
  }
  .pri{
    background-color: #28a745;
    font-size: large;
  } 

  .search{
    display: flex;
    justify-content: space-between;
  }

 